@import "tailwindcss";

:root {
  --background: #ffffff;
  --background: #fdf8f6;
  --foreground: #231612;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #231612;
    --foreground: #fdf8f6;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
}
